# Country Analysis

Get Started - Import Pandas and numpy

In [ ]:
import numpy as np
import pandas as pd

Import the Data from csv via Github

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Haferkorn/eternalrepo/master/DS-WAHLFACH/countries.csv')

Look at the Data:

In [ ]:
df.head()

       Name     People     Area   BIP Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Some basic information as **rows**, **columns** and some **basic statistical** info.

In [ ]:
df.shape #how many rows and columns

(5, 5)

In [ ]:
df.describe() #Basic statistical information

             People          Area         BIP
count  5.000000e+00  5.000000e+00     5.00000
mean   1.027863e+08  3.907400e+06  2716.20000
std    6.759970e+07  4.904957e+06  1457.86083
min    3.650310e+07  3.013380e+05  1529.00000
25%    6.050172e+07  3.573850e+05  1798.00000
50%    8.252165e+07  3.778350e+05  1850.00000
75%    1.260450e+08  8.515770e+06  3466.00000
max    2.083600e+08  9.984670e+06  4938.00000

Show all the row of countries who have the EURO

In [ ]:
df[df["Currency"]=="EUR"]

      Name    People    Area   BIP Currency
0  Germany  82521653  357385  3466      EUR
3    Italy  60501718  301338  1850      EUR

Show only name and Currency in a new data frame

In [ ]:
df2=df.drop(['People', 'Area','BIP'], axis=1)
# or 
df3= df[["Name","Currency"]]

print(df2)
print(df3)

       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL
       Name Currency
0   Germany      EUR
1     Japan      YEN
2    Canada      CAD
3     Italy      EUR
4  Brazilia     REAL

Show only the rows/countries that have more than 2000 BIP (it is in Milliarden USD Bruttoinlandsprodukt)

In [ ]:
df[df["BIP"]>2000]

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN

Select all countries where with inhabitants between 50 and 150 Mio

In [ ]:
df.query("People>50000000 and People<150000000")

      Name     People    Area   BIP Currency
0  Germany   82521653  357385  3466      EUR
1    Japan  126045000  377835  4938      YEN
3    Italy   60501718  301338  1850      EUR

Change BIP to Bip

In [ ]:
df.rename(columns={"BIP":"Bip"})

       Name     People     Area   Bip Currency
0   Germany   82521653   357385  3466      EUR
1     Japan  126045000   377835  4938      YEN
2    Canada   36503097  9984670  1529      CAD
3     Italy   60501718   301338  1850      EUR
4  Brazilia  208360000  8515770  1798     REAL

Calculate the Bip sum

In [ ]:
BipSum=df["BIP"].sum()
print(BipSum)

13581

Calculate the average people of all countries

In [ ]:
PeopleAverage=df["People"].mean()
print(PeopleAverage)

102786293.6

Sort by name alphabetically (by name)

In [ ]:
sortedDf=df.sort_values("Name")
print(sortedDf)

       Name     People     Area   BIP Currency
4  Brazilia  208360000  8515770  1798     REAL
2    Canada   36503097  9984670  1529      CAD
0   Germany   82521653   357385  3466      EUR
3     Italy   60501718   301338  1850      EUR
1     Japan  126045000   377835  4938      YEN

Create a new data frame from the original where the area is changed as follows: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!

In [ ]:

newDF=df
newDF.head()
newDF.astype({"Area":"float"})

       Name     People       Area   BIP Currency
0   Germany   82521653   357385.0  3466      EUR
1     Japan  126045000   377835.0  4938      YEN
2    Canada   36503097  9984670.0  1529      CAD
3     Italy   60501718   301338.0  1850      EUR
4  Brazilia  208360000  8515770.0  1798     REAL

In [ ]:
newDF['Area'] = np.where(newDF['Area']<= 1000000, "SMALL", "BIG") 
print(newDF)

       Name     People   Area   BIP Currency
0   Germany   82521653  SMALL  3466      EUR
1     Japan  126045000  SMALL  4938      YEN
2    Canada   36503097    BIG  1529      CAD
3     Italy   60501718  SMALL  1850      EUR
4  Brazilia  208360000    BIG  1798     REAL